/* Master styles */
body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

.container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 26px;
}
.nav-divider {
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-wrapper > .middle-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-link-wrapper {
    position: relative;
    float: left;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}
.active-nav-link {
    border-bottom: 1px solid black;
}
.active-nav-link a{
    color: black !important;
}

/* Portfolio styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vh;
    background-color: #282A35;
}
.portfolio-item-wrapper {
    position: relative;
}
.portfolio-img-background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(70%);
}
.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}
.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #FFC0C7;
}
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* Contact page */
.contact-page-wrapper {
    background-color: #282A35;
    min-height: 80vh;
    padding-bottom: 8vh;   
}
.contact-two-column-wrapper {
    display: flex;
}
.profile-image-wrapper img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.profile-content-wrapper {
    min-height: 80vh;
    padding: 30px;
    flex: 50%;
    background-color: #f3ecea;
}
.profile-header {
    color: black
}
.profile-subtext {
    color: black
}
.profile-links {
    color: black;
}
profile-body {
    background-color: #eceaf3;
}
.contact-padded-image {
    padding: 60px;
}
.contact-padded-image img {
    border: 4px solid #eceaf3;
    border-radius: 50%;
}

/* Find It Rentals Page */
.find-it-page-wrapper {
    position: relative;
    height: 80vh;
    font-size: 25px;
    background: url(images/construction.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 8vh;   
}

/* Patco Today page */
.patco-page-wrapper {
    background-color: #282A35;
    height: 80vh;
    padding-bottom: 8vh;   
}
.patco-two-column-wrapper {
    display: flex;
}
.patco-logo-wrapper img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.patco-header-wrapper {
    height: 80vh;
    padding: 30px;
    flex: 50%;
    background-color: #f3ecea;
}
.patco-header {
    color: black
}
.patco-links {
    color: black;
}
.patco-body {
    background-color: #eceaf3;
}
.patco-padded-image {
    padding: 60px;
}
.patco-padded-image img {
    border: 4px solid #eceaf3;
    border-radius: 50%;
}
patco-body {
    background-color: #eceaf3;
}
.screenshot-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.screenshot-row::after {
    content: "";
    clear: both;
    display: table;
}

/* Find It Rentals Page */
.find-it-page-wrapper {
    position: relative;
    height: 80vh;
    font-size: 25px;
    background: url(images/construction.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 8vh;   
}

/* Tell It For Me Page */
.tell-it-page-wrapper {
    background-color: #282A35;
    display: inline-block;
    padding-bottom: 8vh;   
}
.tell-it-content-wrapper {
    background-color: #282A35;
    display: grid;
    place-items: center;
    min-height: 80vh;
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: hidden;
}
.tell-it-header {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 3px;
}
.tell-it-subtext {
    color:#FFC0C7;
    font-weight:700;
    margin-top:30px!important;
    font-size:23px;
}
.tell-it-form {
    padding: 15px 15px;
    background-color: #e7e9eb;
    width: auto;
    border-radius: 4px;
}
.tell-it-output {
    padding: 15px 15px;
    background-color: #e7e9eb;
    width: auto;
    border-radius: 4px;
}
.output-column {
    float: left;
    width: 16.667%;
    padding: 3ch;
}
.output-row::after {
    content: "";
    clear: both;
    display: table;
}

/* Input Styling */
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 4px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#fff080; 
    border:0 none;
    cursor:pointer;
    border-radius: 4px; 
}

/* Footer Styling */
footer {
    position: absolute;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background: #d9eee1;
    text-align: center;
}
.footer-divider {
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
}