/* Master styles */

body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}
.active-nav-link a{
    color: black !important;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    height: inherit;
    border-bottom: inherit;
    transition: border-bottom 0.5s;
    font-size: inherit;
    text-transform: inherit;
    border: inherit;
    outline: inherit;
    color: #8a8a8a;
    background-color: inherit;
    font-family: inherit;

}
.dropdown:hover {
    border-bottom: 1px solid black;
}

.dropdown a:hover {
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Portfolio styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;

}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* Contact page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    object-fit: cover;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

img {
    width:100%;
    max-width: 750px;
    padding: 60px;
}

/* Projects Page */
.three-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Tell It For Me Page */
.tell-it-page-wrapper {
    background-color: #e7e9eb;
    display: inline-block;
}
.tell-it-content-wrapper {
    background-color: #282A35;
    display: grid;
    place-items: center;
    height: 80vh;
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: hidden;
}
.tell-it-header {
    text-align: center;
    color: white;
    padding: 3px;
}
.tell-it-subtext {
    color: #ffc0c7;
}
.tell-it-form {
    background-color: #e7e9eb;
    width: auto;
    border-radius: 8px;
}

/* Input Styling */
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 4px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#fff080; 
    border:0 none;
    cursor:pointer;
    border-radius: 4px; 
}

/* Footer Styling */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: #282a35;
    color: white;

    text-align: center;

}