/* Master Styles */
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* NavBar Styles */
header {
    background-color: #F1FAEE;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    overflow: hidden;
}
nav {
    float: left;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
nav li {
    display: inline-block;
    position: relative;
    margin: 20px;        
}
nav a {
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    
}
nav a:hover {
    color: #E63946;
    opacity: 1;
}
nav a::before {
    height: 5px;
    width: 100%;
    bottom: 5px;
    position: absolute;
    content: '';
    background-color: #E63946;
    opacity: 0;
    transition: 300ms;
}
nav a:hover::before {
    bottom: 0px;
    opacity: 1;
    width: 100%;
}
nav a.active {
    font-weight: bolder;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .navBar a, .nav-right {
        float: none;
        display: block;
    }
    .nav-middle a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}
.nav-left {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid whitesmoke;
    width: 20%;
    text-align: center;
}
.nav-middle {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    text-align: center;
}
.nav-right {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid whitesmoke;
    width: 20%;
    text-align: center;
}
.hamburgerMenu {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid whitesmoke;
    width: min-content;
}

/* Main Content Styling */
section {
    background-color: #F1FAEE;
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 3px dotted #E63946;
}
p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

/* About Section Styling */
section.about {
    padding-top: 80px;
}
.about-row {
    display: flex;
    min-height: 70vh;
}
.about-column-left {
    padding: 60px;
}
.about-image {
    padding-left: 60px;
    padding-right: 60px;
}
.about-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;

    border: 4px dotted #E63946;
    border-radius: 50%;
}
.about-column-right {
    padding: 60px;
    flex: 50%;
}
.about-column-right h1 {
    font-size: 36px;
    text-decoration: underline;
    text-decoration-style: dotted;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-column-right h2 {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-subtext {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Contact Section Styling */
section.contact {
    background-color: #1D3557;
    color: white;
    padding: 60px;
    text-align: center;
    border: none;
    border-top: 3px dotted #E63946;
    border-bottom: 3px dotted #E63946;
}
section.contact h1 {
    font-size: 64px;
}
section.contact p {
    font-size: 32px;
}
.contact-content {
    padding-left: 120px;
    padding-right: 120px;
}
.contact-content p {
    padding-left: 200px;
    padding-right: 200px;
}
.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-links li {
    list-style-type: none;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}
.contact-links img {
    height: 48px;
    width: 48px;
}


/* Footer Styling */
footer {
    background-color: #F1FAEE;
    color: black;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 3px dotted #E63946;
}
