/* Master Styles */
@font-face { font-family: reforma; src: url('fonts/reforma/Reforma2018/Reforma2018-Blanca.ttf'); } 
* {
    font-family: 'Reforma', reforma;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
* p {
    font-size: 1.2rem;
}
* a {
    font-size: 1.2rem;
}
html {
    scroll-behavior: smooth; 
} 

/* NavBar Styles */
header {
    background-color: #fcfdff;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    width: 100%;
    overflow: hidden;
    transition: 300ms;
}
nav {
    float: left;

}
nav a {
    font-weight: 500;
    text-decoration: none;
    margin: 20px;
    padding: 10px 0px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    color: black;
}
nav a:hover {
    color: #E63946;
    opacity: 1;
}
nav a::before {
    height: 5px;
    width: 100%;
    bottom: 5px;
    position: absolute;
    content: '';
    background-color: #E63946;
    opacity: 0;
    transition: 300ms;
}
nav a:hover::before {
    bottom: 0px;
    opacity: 1;
    width: 100%;
}
nav a.active {
    font-weight: bolder;
}
.fa, .fas {
    font-weight: 900;
    color: black;
}
.nav-left {
    width: 70%;
    text-align: center;
}
.nav-right {
    width: 30%;
    text-align: center;
}
.hamburgerMenu {
    padding-left: 20px;
    padding-right: 20px;
    width: min-content;
    display: none;
}
.add-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px
}

/* Set layout for mobile navBar */
@media screen and (max-width: 600px) {
    .nav-bar a {
        float: left;
        display: block;
    }
    /* Hide all links except "Home" */
    .nav-bar nav.nav-left a:not(:first-child), nav.nav-middle a, nav.nav-right a {
        display: none;
    }
    /* Show Hamburger Menu */
    .nav-bar a.icon {
        float: right;
        display: block;
    }
}
/* Display vertial menu on Hamburger Menu click */
@media screen and (max-width: 600px) {
    .nav-bar.responsive {
        position: fixed;
    }
    .nav-bar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-bar.responsive nav.nav-left a {
        float: none;
        display: block;
        text-align: right;
    }
    .nav-bar.responsive nav.nav-right a {
        display: none;
        visibility: hidden;
    }
    .nav-bar.responsive a.nav-link.mobile {
        display: none;
        visibility: hidden;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .nav-links li {
        position: relative;
    }
    .nav-bar.responsive nav.nav-middle {
        position: relative;
    }
    .nav-bar.responsive nav.nav-right {
        position: relative;
    }
    .nav-bar nav.responsive a.hamburgerMenu {
      position: absolute;
      right: 50;
      top: 50;
    }
    .nav-bar.responsive nav.nav-left a {
        float: none;
        display: block;
        text-align: left;
    }
    .nav-bar.responsive nav.nav-middle a {
        float: none;
        display: block;
        text-align: left;
    }    
    .nav-bar.responsive nav.nav-right a {
        float: none;
        display: block;
        text-align: left;
    }
}  

/* Dark Mode Toggle Styling */
.toggleDarkMode {
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    background-color : #ffb8d2;
    padding: .5rem;
    border: none;
    border-radius: 30%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
.toggleDarkMode img {
    width: 2.75rem;
    height: 2.75rem;
}
.toggleDarkMode:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}
#toggleDarkModeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

/* Main Content Styling */
section {
    background-color: #fcfdff;
    max-width: 100%;
    padding: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow-x: hidden;
}
section h1, h2, h3, p, a {
    padding-top: 1.5rem;
    margin: 0;
}

p {
    line-height: 1.5;
    margin: 0 0 20px 0;
}
button.default {
    background-color: #e6e9ee;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 36px;
    padding: 0 10%;
    margin-top: 20px;
    margin-right: 20px;
    transition: 300ms;
}
button.default:hover {
    background-color: #c2e7ff;
    cursor: pointer;
}
button.default img {
    max-height: 50%;
}

/* About Section Styling */
section.about {
    padding-top: 5rem;
    min-height: 40vh;
}
.about-row {
    display: flex;
    min-height: 70vh;
}
.about-column-left {
    display: flex;
    align-items: start;
    padding: 60px;
}
.about-image {
    height: auto;
}
.about-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 28%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.about-image img:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.about-column-right {
    background-color: #f3f6fc;
    color: #00210e;
    margin: auto;
    padding: 60px;
    flex: 50%;
    border-radius: 36px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.about-column-right:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.about-column-right h1 {
    font-size: 2.2rem; 
}
.about-column-right h2 {
    font-size: 1.8rem;
}
.squiggle {
    background-color: #fcfdff;
}
@media only screen and (min-width: 600px)  
{
    section {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .about-column-left {
        width: 30%;
    }
    .about-column-right {
        margin-top: 60px;
    }
}
@media all and (max-width:600px) {
    .about-row
    {
        display: block; 
        float: none; 
        width: 100%;
    }
}

/* Skills Section Styling */
section.skills {
    min-height: 10vh;
}
.skills-content {
    background-color: #f3f6fc;
    color: #00210e;
    min-height: 40vh;
    height: auto;
    margin: auto;
    padding: 60px;
    border-radius: 36px;
    text-align: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.skills-content:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.skills-content h1 {
    font-size: 2.2rem;
}
.skills-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-item {
    text-align: justify;
    width: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    cursor: pointer;
}
.skills-item img {
    display: block;
    margin: 0 auto;
    height: 4rem;
    width: 4rem;
}

/* Contact Section Styling */
section.contact {
    min-height: 10vh;
}
.contact-content {
    background-color: #f3f6fc;
    color: #00210e;
    min-height: 40vh;
    height: auto;
    margin: auto;
    padding: 60px;
    border-radius: 36px;
    text-align: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.contact-content:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
}
.contact-links li {
    list-style-type: none;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}
.contact-links a {
    color: black;
}
.contact-links a:link {
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.contact-links a:hover {
    text-decoration: underline;
}
.contact-links a:active {
    text-decoration: underline;
}
.contact-links img {
    height: 48px;
    width: 48px;
}

/* Patco Today Section Styling */
section.patco-today {
    min-height: 80vh;
}
.patco-today-content {
    background-color: #f3f6fc;
    color: #00210e;
    margin: auto;
    margin-top: 5rem;
    padding: 3rem;
    border-radius: 36px;
    text-align: left;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.patco-today-content:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.patco-today-content h1 {
    font-weight: bolder;
    font-size: 4rem;
    line-height: 15vh;
}
.patco-today-content h2 {
    font-weight: normal;
    font-size: 1.5rem;
}
.patco-today-content h3 {
    font-weight: bold;
    font-size: 1.5rem;
}
.patco-today-content p {
    font-weight: normal;
}
.patco-screenshots {
    margin-bottom: 4vh;
}
.patco-description h2 {
    font-weight: bold;
}
.patco-links {
    margin-top: 2rem;
}
.patco-links img {
    height: 12vh;
}
.patco-row {
    display: flex;
}
.patco-column-left {
    width: 40%;
    height: auto;
}
.patco-logo {
    margin: 2rem;
}
.patco-logo img {
    width: 20vw;
    object-fit: cover;
    border-radius: 36%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.patco-logo img:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.patco-column-right {
    width: 60%;
    height: auto;
    margin: 2vw;
}
.screenshot-row.is-fullscreen .carousel-cell {
    height: 100%;
}
.screenshot-column {
    margin: 10px;
    cursor: pointer;
}
.screenshot-column img {
    border-radius: 8px;
    border-color: whitesmoke;
    height: 60vh;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
}
.screenshot-column img:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.patco-description li {
    padding: 5px;
    margin-left: 35px;
  
}


/* Footer Styling */
footer {
    background-color: #fcfdff;
    color: black;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
}





/* TESTING STYLING */
section.find-it-rentals {
    padding: 1rem;
    padding-top: 5rem;
}
.find-it-rentals-row {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    text-align: center;
}
.find-it-rentals-row h1 {
    font-size: 2.5rem;
}
.find-it-rentals-row p {
    font-size: 1.5rem;
}
.find-it-rentals-header {
    margin-top: 10vh;
}


.icons {
    display: flex;
  }
  
  .icon {
    position: relative;
    width: 64px;
    height: 64px;
    display: grid;
    place-items: center;
    margin: 0 8px;
    cursor: pointer;
    transition: transform 200ms ease;
  }
  
  .icon:hover {
    transform: scale(1.125);
  }
  
  .icon .icon-svg {
    width: 32px;
    height: 32px;
    stroke: currentColor;
  }
  
  .icon .squircle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .icon:nth-of-type(1) {
    color: #620042;
    --bg: #ffb8d2;
  }
  
  .icon:nth-of-type(2) {
    color: #44056e;
    --bg: #dac4ff;
  }
  
  .icon:nth-of-type(3) {
    color: #003e6b;
    --bg: #b6e0fe;
  }
  
  .icon:nth-of-type(4) {
    color: #014807;
    --bg: #c1f2c7;
  }
  
find-it-rentals button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 156px;
    padding: 0.5rem 1rem;
    font-family: system-ui, sans-serif;
    border: none;
    background: #102a43;
    color: #f0f4f8;
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    border-radius: 16px;
    font-weight: 500;
    cursor: pointer;
}

.no-squircle .squircle {
    opacity: 0;
}

.no-squircle .icon {
    background-color: var(--bg);
    border-radius: 16px;
}


/* Dark Mode */
.dark-mode-primary {
    background-color: #1f1f1f;
    color: #e3e3e3;
}
.dark-mode-on-primary {
    background-color: #2d2f31;
    color: #e3e3e3;
}
.dark-mode-secondary {
    background: #393b3d;
    color: #e3e3e3;

}
.dark-mode-secondary:hover {
    background: #004a77;
    color: #e3e3e3;
}
