:root {
    --black: #000000;
    --buttonDark: #393b3d;
    --buttonDarkHover: #004a77;
    --buttonLight: #e6e9ee;
    --buttonLightHover: #c2e7ff;
    --contentDark: ;
    --contentLight: #f3f6fc;
    --darkOnPrimary: rgb(45, 47, 49);
    --darkOnPrimaryTranslucent: rgb(45, 47, 49, 0.9);
    --darkPrimary: rgb(31,31,31);
    --darkText: #e3e3e3;
    --darkPrimaryTranslucent: rgba(31,31,31, 0.85);
    --grayWhite: #f5f5f5;
    --grayLight: #cccccc;
    --grayLightHover: #b8b8b8;
    --grayLightActive: #a3a3a3;
    --offWhite: #fcfdff;
    --offWhiteTranslucent: #fcfdffd9;
    --pink: #ffb8d2;
    --pinkTranslucent: #ffb8d2d9;
    --red: #e6192a;
    --redHover: #cc3340;
    --redActive: #a32933;
    --shadowLight: #3c40431a;
    --transparent: transparent;
    --white: #ffffff;
    --whiteTranslucent: #ffffffd9;
}
